[tool.poetry]
name = "tile-renderer"
version = "3.0"
description = "Leaflet.js streetmap tile renderer"
authors = ["7d <i.third.7d@protonmail.com>"]
license = "gpl-3.0"
readme = "README.md"
repository = "https://github.com/MRT-Map/tile-renderer"
documentation = "https://tile-renderer.rtfd.io"
keywords = ['leaflet', 'leaflet.js', 'leafletjs', 'map', 'tiles', 'renderer', 'tile-renderer', 'mapping']
classifiers = [
    'Development Status :: 5 - Production/Stable',
    'Intended Audience :: Developers',
    'License :: OSI Approved :: GNU General Public License v3 (GPLv3)',
    'Natural Language :: English',
    'Programming Language :: Python',
    'Programming Language :: Python :: 3',
    'Programming Language :: Python :: 3.9',
    'Programming Language :: Python :: 3.10',
]
packages = [{ include = "renderer" }]


[tool.poetry.dependencies]
python = "^3.9,<3.12"
Pillow = "^9.2.0"
schema = "^0.7.5"
vector = "^0.11.0"
psutil = "^5.9.1"
ImageHash = "^4.2.1"
fonttools = "^4.34.4"
rich = "^13.3.1"
ray = "^2.2.0"
toml = "^0.10.2"
Shapely = "^2.0a1"
msgspec = "^0.12.0"
dill = "^0.3.5.1"
six = "^1.16.0"

[tool.poetry.group.dev.dependencies]
wheel = "^0.37.1"
pip = "^22.1.2"
black = "^23.1.0"
pytest = "^7.1.3"
mypy = "^1.0.0"
isort = "^5.12.0"
setuptools = "^65.6.3"
types-toml = "^0.10.8.1"
types-psutil = "^5.9.5.6"
types-pillow = "^9.4.0.5"

[tool.poetry.scripts]
renderer = 'renderer.__main__:main'

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.mypy]
mypy_path = "$MYPY_CONFIG_FILE_DIR/stubs"
exclude = ["stubs"]

[[tools.mypy.overrides]]
modules = ["stubs"]
ignore_missing_imports = true