on:
  push:
    branches: [ "dev" ]
  workflow_dispatch:
  
jobs:
  benchmark:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: pypa/hatch@install
    - uses: baptiste0928/cargo-install@b687c656bda5733207e629b50a22bf68974a0305 # v3.3.2
      with:
        crate: resvg
    - uses: baptiste0928/cargo-install@b687c656bda5733207e629b50a22bf68974a0305 # v3.3.2
      with:
        crate: usvg
    - run: hatch run python tests/test.py 1 2 3 4 5 6 7 8 9
