on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: pypa/hatch@install
    - uses: baptiste0928/cargo-install@b687c656bda5733207e629b50a22bf68974a0305 # v3.3.2
      with:
        crate: resvg
    - uses: baptiste0928/cargo-install@b687c656bda5733207e629b50a22bf68974a0305 # v3.3.2
      with:
        crate: usvg
    - run: hatch run python tests/test.py 9

  build:
    runs-on: ubuntu-latest
    needs: test
    outputs:
      changelog: ${{ steps.release-info.outputs.changelog }}
      version: ${{ steps.release-info.outputs.version }}

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: pypa/hatch@install
    - run: hatch build

    - id: release-info
      run: |
        {
        echo 'changelog<<__EOF__'
        hatch run python -c "
        from tile_renderer.__about__ import __version__
        print('\n'.join(open('CHANGELOG.md').read().split('## v'+__version__)[1].split('\n')[1:]).split('\n##')[0])
        "
        echo __EOF__
        } >> "$GITHUB_OUTPUT"
        
        hatch run python -c "
        from tile_renderer.__about__ import __version__
        print('version=v'+__version__)
        " >> "$GITHUB_OUTPUT"
    - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: dist-pypi
        path: dist

    - run: |
        hatch run python -c "
        from tile_renderer.skin import Skin
        from pathlib import Path
        Skin.default().save_json(Path.cwd() / 'dist')
        "
        hatch run python -c "
        import json
        from pathlib import Path
        j = json.loads((Path.cwd() / 'dist' / 'default.skin.json').read_text())
        j['font_files'] = []
        (Path.cwd() / 'dist' / 'default.nofontfiles.skin.json').write_text(json.dumps(j))
        "
    - run: |
        hatch run tile-renderer schema pla2 > dist/pla2.schema.json
        hatch run tile-renderer schema skin > dist/skin.schema.json
    - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: dist-github
        path: dist

  github-release:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: write

    steps:
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: dist-github
          path: dist
      - uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          tag_name: ${{ needs.build.outputs.version }}
          body: ${{ needs.build.outputs.changelog }}
          files: dist/*

  pypi:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: pypi
      url: https://pypi.org/p/tile-renderer
    permissions:
      id-token: write

    steps:
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: dist-pypi
          path: dist
      - uses: pypa/gh-action-pypi-publish@release/v1
