on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
    - uses: pypa/hatch@install
    - uses: baptiste0928/cargo-install@b687c656bda5733207e629b50a22bf68974a0305 # v3
      with:
        crate: resvg
    - uses: baptiste0928/cargo-install@b687c656bda5733207e629b50a22bf68974a0305 # v3
      with:
        crate: usvg
    - run: hatch run python tests/test.py 9

  build:
    runs-on: ubuntu-latest
    needs: test
    outputs:
      changelog: ${{ steps.release-info.outputs.changelog }}
      version: ${{ steps.release-info.outputs.version }}

    steps:
    - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
    - uses: pypa/hatch@install
    - run: hatch build

    - id: release-info
      run: |
        {
        echo 'changelog<<__EOF__'
        hatch run python -c "
        from tile_renderer.__about__ import __version__
        print(open('CHANGELOG.md').read().split('## v'+__version__)[1].split('\n')[1].split('\n##')[0])
        "
        echo __EOF__
        } >> "$GITHUB_OUTPUT"
        
        hatch run python -c "
        from tile_renderer.__about__ import __version__
        print('version=v'+__version__)
        " >> "$GITHUB_OUTPUT"
    - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
      with:
        name: dist-pypi
        path: dist

    - run: |
        hatch run python -c "
        from tile_renderer.skin import Skin
        from pathlib import Path
        Skin.default().save_json(Path.cwd() / 'dist')
        "
        hatch run python -c "
        import json
        from pathlib import Path
        j = json.loads((Path.cwd() / 'dist' / 'default.skin.json').read_text())
        j['font_files'] = []
        (Path.cwd() / 'dist' / 'default.nofontfiles.skin.json').write_text(json.dumps(j))
        "
    - run: |
        hatch run tile-renderer schema pla2 > dist/pla2.schema.json
        hatch run tile-renderer schema skin > dist/skin.schema.json
    - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
      with:
        name: dist-github
        path: dist

  github-release:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: write

    steps:
      - uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4
        with:
          name: dist-github
          path: dist
      - uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2
        with:
          tag_name: ${{ needs.build.outputs.version }}
          body: ${{ needs.build.outputs.changelog }}
          files: dist/*

  pypi:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: pypi
      url: https://pypi.org/p/tile-renderer
    permissions:
      id-token: write

    steps:
      - uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4
        with:
          name: dist-pypi
          path: dist
      - uses: pypa/gh-action-pypi-publish@release/v1
